@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Wahyu Trisvianto<br />
    <abbr title="Phone">P:</abbr>
    +62 852 6940 4334
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:wahyu.trisvianto@gmail.com">Support@example.com</a><br />
</address>